<!DOCTYPE html>
<head>
 <meta charset="UTF-8">
    <title>Account Home</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <style> #link { color: brown;}
            #tip { color: brown;}
            #bottomlinks {color:brown;}
            h1 {color: Brown;
                text-decoration: underline; 
            }
            h3 {text-align : center;
                text-decoration: underline}
            h4 {text-align: left;}
            body {
    
    background-color: #97c04f;
    color: #423136;
     
    }
    </style>
</head>
<body>
<h1>HOME FEED</h1>

<h3>Here's how everyone's plants are doing...</h3><br>
<%if @users%>
<%@users.each do |user|%>
<%if user.plants%>
<%user.plants.each do |plant|%>
<%if plant.logs%>
<%plant.logs.each do |log|%>
<ul>
 <h4><li><%=plant.nickname%> -a <%=plant.plant_type%> ~ Last Watered ~ <%=log.watered_date%>--Updated Condition: <%=log.condition_update%> --Noteworthy Care Changes:<%=log.content%>
~~By: <a href="/users/<%=user.id%>"><%=user.username%></a></li></h4></ul>
   <%end%>
  <%end%>
  <%end%>
  <%end%>
  <%end%>
  <%end%>
<h3>Here's Tips From the Community</h3><br>



<%if @users%>
<%@users.each do |user|%>
<%if user.tips%>
<%user.tips.each do |tip|%>


<ul>
<h4><li>Plant Type: <%=tip.plant_type%> ~~ Tip: <%=tip.content%>~~ <a href="/users/<%=user.id%>"> <%=user.username%></a></li></h4></ul> 
<%end%>
<%end%>
<%end%>
<%end%>
<br>
<footer><%if logged_in?%><h4><a href="/account">Your Profile Home</a></h4><%else%>
<h4><a href="/">Login or Signup</a></h4><%end%></footer>
</body></html>