<!DOCTYPE html>
<head>
 <meta charset="UTF-8">
    <title>PlantDiary-Viewing Account</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <style> 
            #otherviewplant {color:brown;
            font-weight: bolder;}
            h1 {color: lightgrey;
                text-decoration: underline; 
            }
                 body {
    text-align: center;
    background-color: #97c04f;
    color: #423136;
     
    }
    </style>
</head>
<body></body>
<%if logged_in?%><h1>Welcome, <%=current_user.name.capitalize%></h1><%else%><h2><%=@user.username.capitalize%> Profile Page</h1><%end%>
<br>
<h2><%if @user.username.ends_with?("s")%> <%=@user.username.to_s.capitalize%>' Plants: <%else%> <%=@user.username.to_s.capitalize%>'s Plants:</h2><%end%>

<ul><%@user.plants.each do |plant|%>
<li><a id="otherviewplant" href="/plants/<%=plant.id%>"><%=plant.nickname.capitalize%></a> The <%=plant.common_name%>

    <%end%></ul>
<h2><%if @user.username.ends_with?("s")%> <%=@user.username.to_s.capitalize%>' Tips: <%else%> <%=@user.username.to_s.capitalize%>'s Tips:</h2><%end%>
<ul><%@user.tips.each do |tip|%>
<li>For a <%=tip.plant_type%>:  <%=tip.content%></li>
<%end%></ul>


<br>
<br>

<h3><a id="bottomlinks" href='/home'>Home Feed</a></h3>
<%if logged_in?%><h3><a id="bottomlinks" href='/account'>Back to Your Account</a></h3><%end%>
<%if !logged_in?%><h3><a id="bottomlinks" href='/'>Sign Up or Login</a></h3><%end%>
</body></html>