<h1>HOME FEED</h1>

<h3>Here's how everyone's plants are doing...</h3><br><br>
<%if @users%>
<%@users.each do |user|%>
<%if user.plants%>
<%user.plants.each do |plant|%>
<%if plant.logs%>
<%plant.logs.each do |log|%>
<ul>
 <h4><li><%=plant.nickname%> -a <%=plant.plant_type%> ~ Last Watered ~ <%=log.watered_date%>--Updated Condition: <%=log.condition_update%> --Noteworthy Care Changes:<%=log.content%>
~~By: <a href="/user/<%=user.id%>"><%=user.username%></a></li></h4></ul>
   <%end%>
  <%end%>
  <%end%>
  <%end%>
  <%end%>
  <%end%>
<h4>Here's Tips From the Community</h4>



<%if @users%>
<%@users.each do |user|%>
<%if user.tips%>
<%user.tips.each do |tip|%>


<ul>
<h4><li>Plant Type: <%=tip.plant_type%> ~~ Tip: <%=tip.content%>~~ <a href="/user/<%=user.id%>"> <%=user.username%></a></li></h4></ul> 
<%end%>
<%end%>
<%end%>
<%end%>
<%if logged_in?%><h4><a href="/account">Your Profile Home</a></h4><%else%>
<h4><a href="/">Login or Signup</a></h4><%end%>
