<!DOCTYPE html>
<head>
 <meta charset="UTF-8">
    <title>Account Home</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <style> #link { color: brown;}
            #tip { color: brown;}
            #bottomlinks {color:brown;}
            h1 {color: Brown;
                text-decoration: underline; 
            }

                 body {
    text-align: center;
    background-color: #97c04f;
    color: #423136;
     
    }
    </style>
</head>
<body>
<h1><%if @plant.nickname.ends_with?("s")%> <%=@plant.nickname.to_s.capitalize%>' Diary <%else%> <%=@plant.nickname.to_s.capitalize%>'s Diary</h1><%end%>
<br>
<br>

<h2>Care Chronicles:</h2>
<ul><%if @plant.logs%>
<%@plant.logs.each do |log|%>

 <h4><li> Watered On~ <%=log.watered_date%>--Updated Condition: <%=log.condition_update%> --Noteworthy Care Changes:<%=log.content%>--
<a href="/log/<%=log.id%>/edit">Edit Log</%a>--<a href="/log/<%=log.id%>">Delete Log</a></li></h4></ul>
   <%end%>
  <%end%>

<br>
<h4><a href="/plant/log/new">Add a Log</a></h4>
<h4><a href="/account">Your Profile Home</a></h4>

</body></html>

